
*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(11, 11, 111), rgb(81, 7, 81));
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: rgb(16, 13, 23);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}
.todo-app h2{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app img{
    width: 20px;
    align-items: center;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: rgb(214, 214, 214);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(115, 93, 169);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;

}
ul li{
    color: white;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../../images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(../../images/checked.png);
}

.cross-button{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.cross-button:hover{
    color: #ffffff;
    background: #ab0d57;

}

.edit-button{
    position: absolute;
    left: 395px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.edit-button:hover{
    background: #edeef0;    
}

ul li input{
    color: white;
}

